**/__pycache__/**
sim_results*
SolverType*
venv/
.venv/
*/*.pkl
*.ipynb
experiments/
constraints_log/
*/constraints_log/
*.parquetgit re
*/*.parquet
*/*.txt
*.egg-info/
output/
*.py
*.log
requirements.txt
